<div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>
    <button type="button" class="close" (click)="activeModal.close('No')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngx-md>{{ body }}</ngx-md>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="activeModal.close('Confirm')">Confirm</button>
    <button class="btn btn-secondary" type="button" (click)="activeModal.close('Cancel')">Cancel</button>
</div>