<nav class="footer" [ngClass]="currentBg()">
    <div class="row justify-content-between">
        <div class="col-auto">
            <span class="font-weight-normal">{{environment}}</span>
        </div>
        <div class="col-auto">
            <span class="font-weight-normal">Version: {{version}}</span>
        </div>
    </div>
</nav>
