.bg-navbar-theme {
    background-color: #007298 !important;
    color: white;
}
.bg-navbar-theme .navbar-brand {
    color: white;
}

.bg-navbar-theme .navbar-nav .nav-link {
    color: white;
}

.bg-navbar-theme .navbar-brand:hover, .bg-navbar-theme .navbar-brand:focus {
    color: white;
}

.bg-navbar-theme .navbar-nav .nav-link:hover, .bg-navbar-theme .navbar-nav .nav-link:focus {
    color: white !important;
}

.bg-navbar-theme .navbar-toggler {
    color: white;
    border-color: rgba(78, 81, 85, 0.075);
}

.daterange-start::-ms-clear {
    display: none;
}

.daterange-end::-ms-clear {
    display: none;
}

.footable-dropdown-menu {
    right: 0;
    left: auto;
}

.footable-column-filter {
    top: auto;
    left: auto;
    height: 230px;
    overflow: auto;
}

.footable-spinner {
    z-index: 100;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    right: 0.025rem;
    font-size: 40px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.spinner {
    margin: 0 auto 1.5rem auto;
    border: 7px solid #f3f3f3; /* Light grey */
    border-top: 7px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.indent-1 {
    padding-left: 10px;
}

.indent-2 {
    padding-left: 20px;
}

.indent-3 {
    padding-left: 30px;
}

.modal-body-scroll {
    max-height: 400px;
    overflow-y: scroll;
}

.ng-select .ng-select-container {
    min-height: calc(2.25rem + 2px) !important;
}


@media screen and (max-width: 576px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 768px) {
    .footable-column-header {
        white-space: nowrap;
    }

    .footable-column-filter {
        left: auto;
        top: auto;
    }
}