@import './demo';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import '~ngx-toastr/toastr.css';

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Remove outline on desktops
@media(min-width: 720px) {
  ngb-carousel,
  .dropdown-item,
  ngb-datepicker,
  ngb-rating {
    outline: 0 !important;
  }
}

.dropdown-menu-right {
  right: auto !important;
}

// *******************************************************************************
// * Page transition

.router-transitions {
  opacity: 1;
  transition: opacity .2s;

  body.app-loading & {
    opacity: .75;
  }
}

// *******************************************************************************
// * Tooltip and popover animations

@include keyframes(ngTooltipAnimation) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

ngb-tooltip-window {
  animation: ngTooltipAnimation .25s;
}

// *******************************************************************************
// * Modal animations

@include keyframes(ngModalBackdropAnimation) {
  0% { opacity: 0; }
  100% { opacity: .5; }
}
@include keyframes(ngMaterialModalBackdropAnimation) {
  0% { opacity: 0; }
  100% { opacity: .2; }
}
@include keyframes(ngDefaultModalAnimation) {
  0% {
    opacity: 0;
    transform: translateY(150px) scale(.8);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@include keyframes(ngTopModalAnimation) {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@include keyframes(ngSlideModalAnimation) {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@include keyframes(ngRtlSlideModalAnimation) {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@include keyframes(ngFillInModalAnimation) {
  0% {
    opacity: 0;
    transform: scale(.5, .5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

ngb-modal-backdrop.modal-backdrop {
  opacity: .5;
  animation: ngModalBackdropAnimation .15s ease-out;
}

ngb-modal-window {
  &.modal .modal-dialog {
    animation: ngDefaultModalAnimation .15s ease-out;
  }

  &.modal-top .modal-dialog {
    animation: ngTopModalAnimation .15s ease-out;
  }

  &.modal-slide .modal-dialog {
    animation: ngSlideModalAnimation .15s ease-out;
  }

  &.modal-fill-in .modal-dialog {
    animation: ngFillInModalAnimation .15s ease-out;
  }

  [dir=rtl] &.modal-slide .modal-dialog {
    animation: ngRtlSlideModalAnimation .15s ease-out;
  }
}

.material-style ngb-modal-backdrop.modal-backdrop {
  opacity: .2;
  animation: ngMaterialModalBackdropAnimation .15s ease-out;
}

.pagination-fix {
    border-radius: 0 !important;
    margin-left: -1px !important;
}

.inner-table {
    background-color: white !important;
}

.no-results {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.hidden {
    display: none;
}

// Prevent horizontal scrollbar
[dir=rtl] .dz-hidden-input {
  right: 0 !important;
  left: auto !important;
}


//Bootstrap extension

@media (max-width: 500px) {
    .inner-table {
        table-layout: fixed;
    }
}

@media (min-width: 1400px) {
    .col-xxl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-xxl-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-xxl-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-xxl-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-xxl-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xxl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-xxl-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-xxl-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xxl-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-xxl-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-xxl-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xxl-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-xxl-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-xxl-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-xxl-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-xxl-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-xxl-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-xxl-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-xxl-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-xxl-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-xxl-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-xxl-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-xxl-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-xxl-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-xxl-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-xxl-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-xxl-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-xxl-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-xxl-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.333333%;
    }

    .offset-xxl-2 {
        margin-left: 16.666667%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.333333%;
    }

    .offset-xxl-5 {
        margin-left: 41.666667%;
    }

    .offset-xxl-6 {
        margin-left: 50%;
    }

    .offset-xxl-7 {
        margin-left: 58.333333%;
    }

    .offset-xxl-8 {
        margin-left: 66.666667%;
    }

    .offset-xxl-9 {
        margin-left: 75%;
    }

    .offset-xxl-10 {
        margin-left: 83.333333%;
    }

    .offset-xxl-11 {
        margin-left: 91.666667%;
    }
}

@media (min-width: 1600px) {
    .col-bg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-bg-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-bg-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .col-bg-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-bg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-bg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-bg-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .col-bg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-bg-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-bg-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .col-bg-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-bg-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .col-bg-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .col-bg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-bg-first {
        -ms-flex-order: -1;
        order: -1;
    }

    .order-bg-last {
        -ms-flex-order: 13;
        order: 13;
    }

    .order-bg-0 {
        -ms-flex-order: 0;
        order: 0;
    }

    .order-bg-1 {
        -ms-flex-order: 1;
        order: 1;
    }

    .order-bg-2 {
        -ms-flex-order: 2;
        order: 2;
    }

    .order-bg-3 {
        -ms-flex-order: 3;
        order: 3;
    }

    .order-bg-4 {
        -ms-flex-order: 4;
        order: 4;
    }

    .order-bg-5 {
        -ms-flex-order: 5;
        order: 5;
    }

    .order-bg-6 {
        -ms-flex-order: 6;
        order: 6;
    }

    .order-bg-7 {
        -ms-flex-order: 7;
        order: 7;
    }

    .order-bg-8 {
        -ms-flex-order: 8;
        order: 8;
    }

    .order-bg-9 {
        -ms-flex-order: 9;
        order: 9;
    }

    .order-bg-10 {
        -ms-flex-order: 10;
        order: 10;
    }

    .order-bg-11 {
        -ms-flex-order: 11;
        order: 11;
    }

    .order-bg-12 {
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-bg-0 {
        margin-left: 0;
    }

    .offset-bg-1 {
        margin-left: 8.333333%;
    }

    .offset-bg-2 {
        margin-left: 16.666667%;
    }

    .offset-bg-3 {
        margin-left: 25%;
    }

    .offset-bg-4 {
        margin-left: 33.333333%;
    }

    .offset-bg-5 {
        margin-left: 41.666667%;
    }

    .offset-bg-6 {
        margin-left: 50%;
    }

    .offset-bg-7 {
        margin-left: 58.333333%;
    }

    .offset-bg-8 {
        margin-left: 66.666667%;
    }

    .offset-bg-9 {
        margin-left: 75%;
    }

    .offset-bg-10 {
        margin-left: 83.333333%;
    }

    .offset-bg-11 {
        margin-left: 91.666667%;
    }
}

.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl,
.col-xxl-auto, .col-bg-1, .col-bg-2, .col-bg-3, .col-bg-4, .col-bg-5, .col-bg-6, .col-bg-7, .col-bg-8, .col-bg-9, .col-bg-10, .col-bg-11, .col-bg-12, .col-bg,
.col-bg-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.daterange-start {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-color: darkgray;
    text-align: center;
}

.daterange-end {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left-color: darkgray;
    text-align: center;
}

@media(min-width: 768px) {
    .footable-filtering-padding {
        padding-left: 5px;
    }
}
@media(max-width: 767px) {
    .footable-filtering-padding {
        padding-top: 5px;
    }
}
// *******************************************************************************
// * prevention of overwriting of styles in iOS, particularly dropdown styles
.ios-style-overwrite-ineligible {
    -webkit-appearance: none;
}

// * Override default appearance of ng-select to conform to template appearance.
.ng-select-container, .ng-dropdown-panel {
    border: 1px solid rgba(24, 28, 33, 0.1) !important;
}

// * Hidden input styling borrowed from http://code.jquery.com/mobile/git/jquery.mobile-git.css*/
.ui-hidden-accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.hidden {
    display: none !important;
}

.disabled {
    color: #d8d8d8;
}

.pseudo-link {
    cursor: pointer;
    color: #3772c5;
}

.modal-table {
    width: 100%;
}

.modal-tr, .modal-td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.presentation-header {
    font-size: large;
}

.presentation-section {
    margin-top: 20px;
}

// ag-grid theme customization
.ag-theme-blue {
    .ag-row-odd {
        background-color: white;
    }
    .ag-row-first{
        border-width: thin;
    }
    .ag-row:not(.ag-row-first) {
        border-width: thin;
    }
}

.editable-cell {
    background-color: lightblue;
}