<div class="row">
    <div class="col-auto">
        <span class="presentation-header">
            Search Equipment
        </span>
    </div>
</div>
<form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.form.valid)" class="">
    <div class="row">
        <div class="col-sm xs-mb">
            <div class="input-group">
                <input [(ngModel)]="query.edbTag" #tags="ngModel" (keyup.enter)="onSubmit(searchForm.form.valid)"
                       name="tags" id="tags" type="text" class="form-control" placeholder="Search by EDB Tag (min 3 characters)" [required]="!isAdvancedSelected" minlength="3" />
                <div class="input-group-append" (click)="onClearAll()">
                    <span class="btn btn-outline-danger">
                        <span class="fas fa-eraser"></span>
                        <span>Clear All</span>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary d-sm-block d-none" [disabled]="!searchForm.form.valid  || !query.site || query.site === ''">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        <div *ngIf="!isAdvancedSelected" class="col-xl-3 col-md-3 col-sm-12">
            <button (click)="onToggleAdvanced()" type="button" class="btn btn-secondary btn-block" [disabled]="isAdvancedBtnDisabled">
                <i class="fa fa-sliders-h"></i>
                Advanced
            </button>
            <button *ngIf="!isAdvancedSelected" type="submit" class="btn btn-primary btn-block d-block d-sm-none" [disabled]="!searchForm.form.valid">
                <i class="fa fa-search"></i>
                Search
            </button>
        </div>
    </div>
    <div *ngIf="isAdvancedSelected" class="card-footer advanced">
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label>Unit</label>
                    <input [(ngModel)]="query.unit" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="unit" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>System</label>
                    <input [(ngModel)]="query.system" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="system" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label>Equipment Type</label>
                    <input [(ngModel)]="query.equipmentType" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="equipmentType" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>Equipment Suffix</label>
                    <input [(ngModel)]="query.equipmentSuffix" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="equipmentSuffix" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group">
                    <label>Component Type</label>
                    <input [(ngModel)]="query.componentType" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="componentType" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
            <div class="col-md">
                <div class="form-group">
                    <label>Component Suffix</label>
                    <input [(ngModel)]="query.componentSuffix" [required]="areAllAdvancedEmpty" (ngModelChange)="inspectForEmptyFields()" name="componentSuffix" type="text" class="form-control" placeholder="Enter Value" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <button (click)="onToggleAdvanced()" type="button" class="btn btn-secondary btn-block">
                    Less
                </button>
            </div>
            <div class="col-xs-6 col-sm-4">
                <button (click)="onClear()" type="button" class="btn btn-secondary btn-block">
                    Clear Filters
                </button>
            </div>
            <div class="col-xs-12 col-sm-4 x">
                <button *ngIf="isAdvancedSelected" type="submit" class="btn btn-primary btn-block" [disabled]="!searchForm.form.valid || !query.site || query.site === ''">
                    <i class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row presentation-section">
    <div class="col-auto">
        <span class="presentation-header">
            Select Equipment
        </span>
    </div>
    <div class="col-auto ml-auto">
        <button class="btn btn-primary"
                [disabled]="isLoading || !isGridInitialized || grid.api.getSelectedRows === undefined || grid.api.getSelectedRows() === null || grid.api.getSelectedRows().length === 0" 
                (click)="onAddToCart()">
            Select Labels
        </button>
    </div>
    <div class="col-auto">
        <a [routerLink]="isLoading || shoppingCartQuantity <= 0 ? '' : 'shoppingcart'">
            <button class="btn btn-block" [disabled]="isLoading || shoppingCartQuantity <= 0">
                <i class="ion ion-md-cart"> {{shoppingCartQuantity}}</i>
            </button>
        </a>
    </div>
</div>
<div class="justify-content-center">
    <ag-grid-angular #grid style="width: 100%; height: 677px"
                     class="ag-theme-fresh"
                     [gridOptions]="gridOptions"
                     [rowData]="rowData$ | async"
                     (gridReady)="onGridReady()">
    </ag-grid-angular>
</div>
