<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">

    <!-- Brand demo (see demo.css) -->
    <div class="navbar-brand app-brand demo py-0 mr-4">
        <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto" *ngIf="sidenavToggle">
            <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)" (click)="toggleSidenav()">
                <i class="ion ion-md-menu text-large align-middle"></i>
            </a>
        </div>
        <span class="app-brand-text demo font-weight-normal ml-2">Nuclear Equipment Labels</span>
        
    </div>

    <!-- Sidenav toggle (see demo.css) -->
    <button class="navbar-toggler hidden" type="button" (click)="isExpanded = !isExpanded">
        <span class="ion ion-md-menu text-large align-middle"></span>
    </button>
    <div class="navbar-collapse collapse">
        <hr class="d-lg-none w-100 my-2">
        <div class="navbar-nav align-items-lg-center ml-auto">
            <div placement="isRTL ? 'bottom-left' : 'bottom-right'" class="demo-navbar-user nav-item">
                <a class="nav-link">
                    <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
                        <span class="px-1 mr-lg-2 ml-2 ml-lg-0"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>

    <!-- Site Selection -->
    <div class="col-md-3 col-sm-3 xs-mb">
        <ng-select #siteDropDownList [(ngModel)]="selectedSite" [items]="sites$ | async" [searchable]="false" name="site" placeholder="Select Site" bindLabel="siteDescription" bindValue="siteCode" (change)="onSiteChange($event)"></ng-select>
    </div>
</nav>
