<div class="modal-header">
    <h4 class="modal-title">Select Labels</h4>
    <button type="button" class="close" (click)="activeModal.close(null)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <div>Please specify quantities for label types and sizes.</div>
    <!--Inline styling used below because style specifications in component style sheets
    seem to be overwritten by bootstrap styles for NgbModal when component is adapted to modal window.
    (Component-specific agGrid styling appears unaffected.)-->
    <div *ngIf="wasNonNumericalValueEntered" style="color:red">-Postive, numeric, non-empty values only</div>
    <div *ngIf="wasGreaterThan99QuantityEntered" style="color:red">-Maximum quantity of 99</div>
    <ag-grid-angular #grid style="width: auto; height: 120px"
                     class="ag-theme-blue"
                     [gridOptions]="gridOptions"
                     (cellEditingStopped)="onCellEditingStopped($event)"
                     (gridReady)="onGridReady()">
    </ag-grid-angular>
</div>
<div>Please provide additional label information.</div>
<div class="modal-body">
    <div class="row">
        <div class="sm-col-4 offset-sm-1">
            <div>
                <input type="checkbox" [id]="checkBoxIds.InContainment" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.InContainment">{{checkBoxIds.InContainment}}</label>
            </div>
            <div>
                <input type="checkbox" [id]="checkBoxIds.NonFieldWorkEC" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.NonFieldWorkEC">{{checkBoxIds.NonFieldWorkEC}}</label>
            </div>
            <div>
                <input type="checkbox" [id]="checkBoxIds.TempLabelInstalled" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.TempLabelInstalled">{{checkBoxIds.TempLabelInstalled}}</label>
            </div>
        </div>
        <div class="sm-col-4 offset-sm-2">
            <div>
                <input type="checkbox" [id]="checkBoxIds.AdheresToStainlessSteel" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.AdheresToStainlessSteel">{{checkBoxIds.AdheresToStainlessSteel}}</label>
            </div>
            <div>
                <input type="checkbox" [id]="checkBoxIds.RFRY" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.RFRY">{{checkBoxIds.RFRY}}</label>
            </div>
            <div>
                <input type="checkbox" [id]="checkBoxIds.RadWaste" (click)="onCheckBoxClicked($event)"/>
                <label [for]="checkBoxIds.RadWaste">{{checkBoxIds.RadWaste}}</label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" (click)="activeModal.close(grid.gridOptions.rowData)">Add To Cart</button>
    <button class="btn btn-secondary" type="button" (click)="activeModal.close(null)">Cancel</button>
</div>