// ag-grid theme overwrites
.ag-theme-blue {
    width: 100%;
    height: auto;

    .ag-row-odd {
        background-color: white;
    }
    .ag-row-first {
        border-width: thin;
    }
    .ag-row:not(.ag-row-first) {
        border-width: thin;
    }
}