<sidenav class="sidenav sidenav-collapsed" [orientation]="orientation" [ngClass]="getClasses()">
  <!-- Brand demo (see src/demo.css) -->
  <div class="app-brand demo" *ngIf="orientation !== 'horizontal'">
    <a href="/Hackathon/" >
      <span> 
        <img src="assets/img/logo.svg" width="125" height="50">
      </span>
	  </a>
  </div>
  <div class="sidenav-divider mt-0" *ngIf="orientation !== 'horizontal'"></div>
  <!-- Links -->
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">
      <sidenav-router-link icon="ion ion-md-cart" route="/shoplabels">Shop Labels</sidenav-router-link>
      <sidenav-router-link icon="fas fa-box" route="/labelorders">Label Orders</sidenav-router-link>
      <sidenav-router-link icon="ion ion-md-print" route="/printlabels">Print Labels</sidenav-router-link>
      <sidenav-router-link icon="ion ion-md-help-circle" (click)="loadHelpDocument()">Help</sidenav-router-link>
  </div>
</sidenav>
