<div class="row presentation-section">
    <div class="col-auto">
        <span class="presentation-header">
            Shopping Cart ({{totalQuantity}})
        </span>
    </div>
    <div class="col-auto ml-auto">
        <button class="btn btn-danger"
                [disabled]="shoppingCart.length <= 0" 
                (click)="onEmptyCart()">
            Empty Cart
        </button>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" [disabled]="shoppingCart.length <= 0">
            Submit Order
        </button>
    </div>
</div>
<div class="row presentation-section"></div>
<span *ngIf="shoppingCart.length <= 0">Your shopping cart is empty.</span>
<div *ngIf="shoppingCart.length > 0">
    <div *ngFor="let rowData of rowDataGroups">
        <div class="justify-content-center">
            <span class="presentation-section"><b>{{buildHeader(rowData)}}</b></span>
            <ag-grid-angular style="width: 100%; height: 100%;"
                             class="ag-theme-fresh"
                             [gridOptions]="gridOptions"
                             [rowData]="rowData"
                             (cellClicked)="onCellClicked($event)"
                             (cellEditingStopped)="onCellEditingStopped($event)"
                             (gridReady)="onGridReady()">
            </ag-grid-angular>
            <div class="row presentation-section"></div>
        </div>
    </div>
</div>
