﻿.basic, .buttons {
    display: flex;
}

.main > .btn.btn-primary {
    display: none;
}

.advanced {
    margin: 0 -1.5rem;
}

.xs-mb button.btn-primary {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.xs-mb .input-group-text {
    border-left: 0;
}

.advanced.card-footer {
    padding-bottom: 0;
}

.adv-buttons {
    display: flex;
    justify-content: center;
}

h5 {
    display: block;
    width: 100%;
}

.buttons.tail {
    margin-top: 1.5rem;
}

.dropdown-arrow {
    position: absolute;
    right: 25px;
    top: 10px;
    background-color: white;
}
/* JS Utility Classes*/
.fields.remove-right-margin {
    margin-right: 0;
}
/* Js Utility Classes */

@media screen and (max-width: 575px) {
    .col-xs-12 {
        margin-top: 0.875rem;
        width: 100%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .xs-mb {
        margin-bottom: 0.875rem;
    }

    .card-footer.advanced {
        margin-top: 0.625rem;
    }

    .xs-mb button.btn-primary,
    .xs-mb button.btn-primary.x {
        border-radius: 0.25rem;
    }

    .basic {
        flex-direction: column;
    }

    .advanced,
    .buttons {
        margin-top: 0;
    }

    .fields,
    .fields > * {
        margin-bottom: 20px;
    }

        .fields > *:last-of-type {
            margin-bottom: 0;
        }

    .buttons > .btn {
        flex-grow: 1;
    }

        .buttons > .btn:first-of-type {
            margin-right: 20px;
        }

    .xs-mb .btn-outline-danger {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }

        .xs-mb .btn-outline-danger .fa-eraser {
            margin-right: 0.25rem;
        }
}

@media screen and (min-width: 576px) {
    .col-xl-3.col-md-3.col-sm-12 .btn.btn-secondary {
        margin-top: 1.5rem;
    }

    .advanced {
        margin-top: 20px;
    }

    .basic {
        flex-direction: column;
    }

    .mobile {
        display: none;
    }

    .fields {
        display: flex;
        flex-grow: 1;
        margin-bottom: 20px;
    }

        .fields > .location {
            flex-grow: 0;
            order: 0;
            margin-right: 20px;
            flex-basis: 20%;
        }

        .fields > .main {
            flex-grow: 1;
            order: 1;
        }

    .main {
        flex-grow: 1;
        order: 2;
        display: flex;
        flex-wrap: nowrap;
    }

        .main > input[type=text] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .main > .btn.btn-primary {
            display: block;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    .buttons {
        justify-content: center;
    }

        .buttons > .btn-secondary {
            margin-right: 20px;
        }

    .xs-mb.input-group-text {
        border-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .col-xl-3.col-md-3.col-sm-12 .btn.btn-secondary {
        margin-top: 0;
    }

    .basic {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fields {
        display: flex;
        flex-grow: 1;
        margin-right: 0;
        margin-bottom: 0;
    }

    .location {
        flex-grow: 0;
        order: 1;
        margin-right: 20px;
    }

    .main {
        flex-grow: 1;
        order: 2;
        display: flex;
        flex-wrap: nowrap;
    }

        .main > input[type=text] {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .main > .btn.btn-primary {
            display: block;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    .buttons {
        width: 100%;
        margin-top: 20px;
    }

        .buttons.tail {
            justify-content: center;
        }

            .buttons.tail > .btn-primary {
                order: 2;
                margin-right: 0;
            }

            .buttons.tail > .btn-secondary {
                order: 1;
                margin-right: 20px;
            }

        .buttons > .btn-secondary {
            order: 2;
            margin-right: 0;
        }

    .advanced {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .adv-buttons {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .buttons {
        width: initial;
        margin-top: 0;
    }

        .buttons > .btn-secondary {
            margin-right: 0;
        }

    .fields {
        margin-right: 20px;
    }
}
